p
  |t("email.devise.hello")  #{@resource.email}!
p = t("email.devise.some_one_request")
p = link_to t("layout.devise.change_my_pass"), edit_password_url(@resource, reset_password_token: @token)
p = t("email.devise.ignore_email")
p = t("email.devise.explain")
